html {
  background-color: #e2e2e2;
  font-family: sans-serif;
  position: relative;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  transition: all 500ms linear;
  position: absolute;
  top: 9em;
  right: 27em;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid:first-child {
  transform: translate(-80px, -40px) rotate(-10deg);
}

.polaroid:nth-child(2) {
  z-index: 2;
  transform: translate(10px, 5px) rotate(10deg);
}

.polaroid:last-child {
  z-index: 1;
  transform: translate(100px, -40px) rotate(30deg);
}

.polaroid:hover {
  z-index: 10;
  transform: rotate(45deg);
  border-radius: 8px;
  box-shadow: 2px 6px 8px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  left: 5em;
  bottom: 1em;
}
